.inner-page-title {
  height: 18em;
  background: $blue;

  h1 {
    text-align: left;
    padding-left: 1em;
    font-size: 2.8em;
    line-height: 18rem;
  }
}

.inner-main-wrap {
  margin-bottom: 3em;
}
