.header__nav {
    @media screen and (min-width: 815px) {
        margin-left: auto;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        flex-direction: column;
        text-align: center;

        @media screen and (min-width: 550px) {
            flex-direction: row;
        }
    }
    a {
        display: block;
        padding: 1em 2em;
    }
}
